<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id="toolbar">
						<!-- <form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="product_line">姓名</label>
								<div class="input-group">
									<div class="input-group-addon">姓名</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入姓名" style="width:100px">
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">单位</label>
								<div class="input-group">
									<div class="input-group-addon">单位</div>
									<select class="form-control" name="msg_type" id="msgType">
										<option value="">请选择单位</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">籍贯</label>
								<div class="input-group">
									<div class="input-group-addon">籍贯</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入籍贯" style="width:100px">
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">任职资格</label>
								<div class="input-group">
									<div class="input-group-addon">任职资格</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入任职资格" style="width:80px">
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">身份</label>
								<div class="input-group">
									<div class="input-group-addon">身份</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入身份" style="width:80px">
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">系列</label>
								<div class="input-group">
									<div class="input-group-addon">系列</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入系列" style="width:80px">
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="msg_type">级别</label>
								<div class="input-group">
									<div class="input-group-addon">级别</div>
									<input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入级别" style="width:80px">
								</div>
							</div>
							<button type="button" class="btn btn-primary queryButton">查询</button>
						</form> -->
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="sys:role:edit">
			<script type="text/javascript">
				s_edit_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="sys:role:remove">
			<script type="text/javascript">
				var s_remove_h = 'hidden';
			</script>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/sys/talents/talents.js">
		
	</script>
</body>
</html>