<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" method="post" action="">
							<input id="said" name="said" type="hidden"
								th:value="${apply.said}"> <!-- <input id="menuIds"
								name="menuIds" type="hidden"> -->
							<div class="form-group">
								<label class="col-sm-3 control-label">项目名称：</label>
								<div class="col-sm-8">
									<input id="saname" name="saname" class="form-control"
										type="text" readonly="readonly" th:value="${apply.saname}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">类别：</label>
								<div class="col-sm-8">
									<input id="saclass" name="saclass" class="form-control"
										type="text" readonly="readonly" th:value="${apply.saclass}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目组长：</label>
								<div class="col-sm-8">
									<input id="sagroup" name="sagroup" class="form-control"
										type="text" readonly="readonly" th:value="${apply.sagroup}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">申报经费：</label>
								<div class="col-sm-8">
									<input id="saexpenditure" name="saexpenditure" class="form-control"
										type="text" readonly="readonly" th:value="${apply.saexpenditure}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">内容：</label>
								<div class="col-sm-8">
									<input id="sacontent" name="sacontent" class="form-control"
										type="text" readonly="readonly" th:value="${apply.sacontent}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" readonly="readonly" th:value="${apply.saremark}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">附件：</label>
								<div class="col-sm-8">
									<a style="margin-left: 15px;font-size: 14px;" th:each="file : ${files}"  th:href="@{${'/examine/download'}(path=${file.path})}" th:text="${file.filename}"></a>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">科技处工作人员初审意见：</label>
								<div class="col-sm-8">
									<textarea rows="5" id="sascienceIdea" name="sascienceIdea" class="form-control" ></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门领导审批意见：</label>
								<div class="col-sm-8">
									<textarea rows="5" id="sadepartIdea" name="sadepartIdea" class="form-control" ></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3"><!--@{${'/examine/applyexamine'}(state=3)}  -->
									<!-- onclick="applyexamine(3)" -->
									<input type="button" onclick="applyexamine(3)" class="btn btn-primary" value="审批通过"></button>
									<input type="button" onclick="applyexamine(2)" class="btn btn-primary" value="审批未通过"></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/sys/examine/read.js"></script>
	<script type="text/javascript">
		function applyexamine(state){
			$("#signupForm").removeAttr('action');
			$("#signupForm").attr('action','/examine/applyexamine?state='+state);
			$("#signupForm").submit();
			//location.href = "/examine/applyexamine?state=" + state;
		}
	</script>
</body>

</html>
