<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="roleId" name="roleId" type="hidden"
								value="1"> <input id="menuIds"
								name="menuIds" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">项目名称：</label>
								<div class="col-sm-8">
									<input id="roleName" name="roleName" class="form-control"
										type="text" value="油田开发">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">承担单位：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="东采油厂">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">协作单位：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="西采油厂">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">合同起始时间：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="2017-09-01">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">合同结束时间：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="2018-08-01">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">甲方项目负责人：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="张三">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">乙方项目负责人：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="李四">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目投资：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="1000">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">支付情况：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="已支付">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目进度：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="50%">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">附件：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="工程.txt">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">科技处工作人员初审意见：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="可以">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门领导审批意见：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control"
										type="text" value="哈哈">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">审批通过</button>
									<button type="button" class="btn btn-primary">退回修改</button>
									<button type="button" class="btn btn-primary">审批未通过</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/sys/examine/read.js"></script>
</body>

</html>
